# Folders
__pycache__*
.vscode*
**/Figures/*
**/CSV/*
**/*_files/*


# Media Files
*.avi
*.bmp
*.jpg
*.mp4
# *.png
*.tif

# Documnets
*.doc
*.docx
*.html
*.pdf
*.ppt
*.pptx
*.xls
*.xlsx

# MATLAB Compiler / Coder
*App/
*.fig
#*.prj

# MATLAB Files
# https://www.mathworks.com/company/newsletters/articles/automatically-save-backup-m-files-with-the-matlab-editor.html
*.asv
*.m~
*.mat
*.mex*

# Python


# Misc
Report*.html
TMP/*.csv


